.footer {
    padding: 20px 0;
  }
  
  .footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer a:hover {
    text-decoration: none;
    color: #ffdd57;
  }
  