.wholeform{
    border-radius: 20px;
    background-color: #e3ae0e;;
}

.cont-frm{
   background-color: #f5970a;
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  