.service-card .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover .card {
    transform: translateY(-10px) rotate(3deg);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes highlightAnimation {
    0% {
      opacity: 0.8;
      transform: scale(0.95);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 0.8;
      transform: scale(0.95);
    }
  }
  
  .highlight {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    animation: highlightAnimation 5s infinite;
  }
  
  

.services-complete{
    background-color: #6b91fa;
}  

.card{
    background-color: #0256a6;
    height: 15rem;
}

.card-title{
    color: #62f00ad7;
    font-size: 1.5rem;
}

.bgh{
    background-image: url('../images/bghoro2.png');
    background-size: cover;
}

.bgv{
    background-image: url('../images/vastu.png');
    background-size: cover;
}

.bgn{
    background-image: url('../images/numerology.png');
    background-size: cover;
}

.bgbu{
    background-image: url('../images/Business.png');
    background-size: cover;
}

.bgmd{
    background-image: url('../images/medical.png');
    background-size: cover;
}

.bgmarriage{
    background-image: url('../images/marriage.png');
    background-size: cover;
}

.card-p{
    color: #ed790c;
    font-size: 1.25rem;
}